* {
	margin: 0px;
	padding: 0px;
}

body{
 font-family: 'Source Sans Pro', 'Sagoe UI', Geneva, Verdana, sans-serif;
  background:	#F5F5F5;
  font-size: 12px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

.navbar-default {
	background: rgba(0,0,0,.5);
	border-color: transparent;
}

.navbar-default .navbar-brand  {
	color: white;
}

.navbar-default .navbar-nav li a:hover {
	color: #609cd3;
}
strong{
	color: white;
	font-family: tahoma;
}
#iconcolor{
	color: orange;
	
}
header {
	background: url("../img/camaro1.jpg") no-repeat center rgba(0,0,0,5);
	background-size: cover;
	width: 100%;
	min-height: 530px;
	padding-top: 100px;
	text-align: center;
}

 h1 {
	color: gray;
	margin-bottom: 15px;
	letter-spacing: 1px;
	text-align: center;
	border-radius: 30px;
}

h2{
	color: orange;
	text-align: center;
}
#fondox{
	border-color: lightblue;
	border-radius: 40px;
	border: 1px;
	border-style: solid;

}

#lol:hover{
	background-color: gray;
}

.zoom{
    -webkit-transition: all .4s;
    transition: all .4s;
}

.zoom:hover {
 -webkit-transform : scale(1.6);
         transform : scale(1.6);
}


#mate{
	color: gold;
}
footer{
	background-color: lightblue;
	border: 1px;
	border-radius: 30px;
	padding: 10px;
}
